.container-fluid {
  width: 100%;
  background: #272B33;
  padding: 50px 0px;
}

/* .container {
  width: 1200px;
  margin: auto;
} */

.col-6 {
  width: calc(50% - 10px);
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#Link_Rick {
  font-size: 26px;
  display: block;
  color: white;
  text-decoration: none;
}

#seen {
  color: #9E9E9E;
}

#Link_Seen {
  text-decoration: none;
  color: white;
}

#know {
  color: white;
}

.dis-flex {
  display: flex;
}

#set {
  padding: 0px 20px;
  transition: 0.3s;
}

.card {
  background: #3C3E44;
  border-radius: 5px;
}

.dis-flex img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 5px;
}

.font-size {
  font-size: 80px;
}

#set a:hover {
  color: orange;
}


@media (max-width:400px) {
  .d-flex{
    flex-direction: column;
  }
  .d-flex .card-img-top{
    width: 100% !important;
  }

  .rick{
    font-size: 28px;
    padding: 30px 15px !important;
  }
}